
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="row">
    <div class="col-md-4">@Html.ActionLink("Add Catalog", "Index", "Catalogs", new { area = "" }, null)</div>
    <div class="col-md-4">@Html.ActionLink("Add Category", "Index", "Categories", new { area = "" }, null)</div>
    <div class="col-md-4">@Html.ActionLink("Add SubCategory", "Index", "SubCategories", new { area = "" }, null)</div>
</div>
<div class="row">
    <div class="col-md-4">@Html.ActionLink("Add Product", "Create", "Products", new { area = "" }, null)</div>
    <div class="col-md-4">@Html.ActionLink("Admin", "Index", "Home", new { area = "" }, null)</div>
    <div class="col-md-4">@Html.ActionLink("Admin", "Index", "Home", new { area = "" }, null)</div>
</div>