@model CctvStore.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrlProductImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalog.CatalogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalog.CatalogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="well">
    <div class="col-md-4">@Html.ActionLink("Download", "Create", "Products")</div>
    <div class="col-md-4">@Html.ActionLink("Specification", "Index", "Specifications")</div>
    <div class="col-md-4">@Html.ActionLink("Accessories", "Index", "Accessories")</div>

</div>

