@model CctvStore.Models.SpGeneral

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpGeneral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specification.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerConsumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerConsumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatureTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatureTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngressProtection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngressProtection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approvals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approvals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDimensions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDimensions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chasis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
