@model CctvStore.Models.Specification

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpCamera.ImageSensor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpCamera.ImageSensor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SpecificationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SpecificationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SpecificationId })
            </td>
        </tr>
    }

</table>