@model CctvStore.Models.Specification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpCamera.ImageSensor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpCamera.ImageSensor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
