<div class="row well">
    <div class="col-md-4 well">@Html.ActionLink("Add Camera", "Create", "SpCameras", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Image", "Index", "Categories", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Network", "Index", "SubCategories", new { area = "" }, null)</div>
</div>
<div class="row">
    <div class="col-md-4 well">@Html.ActionLink("Add Interface", "Create", "Products", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add General", "Index", "Home", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Video Output", "Index", "Home", new { area = "" }, null)</div>
</div>

<div class="row well">
    <div class="col-md-4 well">@Html.ActionLink("Add Video", "Index", "Catalogs", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Audio", "Index", "Categories", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Record&Playback", "Index", "SubCategories", new { area = "" }, null)</div>
</div>

<div class="row">
    <div class="col-md-4 well">@Html.ActionLink("Add Video/Audio Input", "Index", "Catalogs", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Video/Audio Output", "Index", "Categories", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add HardDisk", "Index", "SubCategories", new { area = "" }, null)</div>
</div>

