@model CctvStore.Models.SpInterface

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpInterface</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specification.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethernet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethernet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlarmIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlarmIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS485)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS485)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BNCOutput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BNCOutput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetButton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetButton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdgeStorage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdgeStorage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Output)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Output)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PTZControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTZControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Network)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Network)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDMIVGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDMIVGA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
