@model CctvStore.Models.SpCamera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpCamera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specification.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSensor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageSensor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinIllumination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinIllumination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShutterSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShutterSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoIris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoIris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WideDynamicRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WideDynamicRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DigitalNoiseReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DigitalNoiseReduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IRLED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IRLED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IRRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IRRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignalSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignalSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetecterType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetecterType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrayFormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrayFormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PixelPitch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PixelPitch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sensitivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sensitivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecteralRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecteralRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemperatureDetection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemperatureDetection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Focus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Focus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetectDistanceVehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetectDistanceVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetectDistanceHumen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetectDistanceHumen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecognizeDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecognizeDistance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
