@model IEnumerable<CctvStore.Models.SpVideo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Specification.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoCompression)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EncodeAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecodeAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoInput)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Specification.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoCompression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncodeAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecodeAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoInput)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpecificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpecificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpecificationId })
        </td>
    </tr>
}

</table>
