@model CctvStore.Models.TroubleShooting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TroubleShooting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErrorTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TroubleShootingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
