<div class="row well">
    <div class="col-md-4 well">@Html.ActionLink("Add Camera", "Create", "SpCameras", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Image", "Create", "SpImages", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Network", "Create", "SpNetworks", new { area = "" }, null)</div>
</div>
<div class="row">
    <div class="col-md-4 well">@Html.ActionLink("Add Interface", "Create", "SpInterfaces", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add General", "Create", "SpGenerals", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Video Output", "Create", "Home", new { area = "" }, null)</div>
</div>

<div class="row well">
    <div class="col-md-4 well">@Html.ActionLink("Add Video", "Create", "SpVideos", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Audio", "Create", "Categories", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Record&Playback", "Create", "SubCategories", new { area = "" }, null)</div>
</div>

<div class="row">
    <div class="col-md-4 well">@Html.ActionLink("Add Video/Audio Input", "Create", "Catalogs", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add Video/Audio Output", "Create", "Categories", new { area = "" }, null)</div>
    <div class="col-md-4 well">@Html.ActionLink("Add HardDisk", "Create", "SubCategories", new { area = "" }, null)</div>
</div>
