
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("News", "Index", "Home", new { area = "" }, null)</li>
        <li>@Html.ActionLink("AboutUs", "ProductIndex", "_CctvStore", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Support", "Index", "Home", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Contact Us", "Index", "Home", new { area = "" }, null)</li>
        <li>@Html.ActionLink("TechSupport", "Admin", "_Admin", new { area = "" }, null)</li>      
    </ul>
</div>

